<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023299123202-rhvvc63q77t31vlnmmj1ivlj3cc5el3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023299123202-rhvvc63q77t31vlnmmj1ivlj3cc5el3p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023299123202-onggrfb35p2rf9ju30kkftc2gt77oadm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8XC1d2wMf7F_a4S4OBB-H6s3WIrDUySg</string>
	<key>GCM_SENDER_ID</key>
	<string>1023299123202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.agapeonlinedating</string>
	<key>PROJECT_ID</key>
	<string>agape-dating-app</string>
	<key>STORAGE_BUCKET</key>
	<string>agape-dating-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023299123202:ios:7481da073ab37b24ec4f1b</string>
</dict>
</plist>